
DATABASE_URL="postgresql://"

# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Discord - Google Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
# FIREBASE
FIREBASE_apiKey= 
FIREBASE_authDomain=
FIREBASE_projectId=
FIREBASE_storageBucket=
FIREBASE_messagingSenderId=
FIREBASE_appId=
FIREBASE_measurementId=